################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Codigo/AutoLab/.vs/AutoLab/v17
/Codigo/AutoLab/AutoLab.Domain/bin/Debug/net6.0
/Codigo/AutoLab/AutoLab.Domain/obj
/Codigo/AutoLab/.vs
/Codigo/AutoLab/AutoLab.Data/bin/Debug/net6.0
/Codigo/AutoLab/AutoLab.Data/obj
/Codigo/AutoLab/AutoLab.Utils/obj
/Codigo/AutoLab/AutoLab.Utils/bin/Debug/net6.0
/Codigo/AutoLab/AutoLab.Application/obj
/Codigo/AutoLab/AutoLab.Application/bin/Debug/net6.0
/Codigo/AutoLab/AutoLab.API/bin/Debug/net6.0
/Codigo/AutoLab/AutoLab.API/obj
/Codigo/AutoLab/AutoLab.Core/AutoLab.Core/obj/Debug/netstandard2.0
/Codigo/AutoLab/AutoLab.Core/AutoLab.Core/obj/Debug/netstandard2.0
/Codigo/AutoLab/AutoLab.Core/AutoLab.Core/bin/Debug/netstandard2.0
/Codigo/AutoLab/AutoLab.Core/AutoLab.Core/obj
/Codigo/AutoLab/AutoLab.Core/AutoLab.Core.Android/bin/Debug
/Codigo/AutoLab/AutoLab.Core/AutoLab.Core.Android/obj
/Codigo/AutoLab/AutoLab.Core/AutoLab.Core.iOS/bin/iPhoneSimulator/Debug
/Codigo/AutoLab/AutoLab.Core/AutoLab.Core.iOS/obj
