################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Codigo/AutoLab/.vs/AutoLab/v17
/Codigo/AutoLab/AutoLab.Domain/bin/Debug/net6.0
/Codigo/AutoLab/AutoLab.Domain/obj
